# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
docker-compose.pymeliuz.daemon.yml

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.mypy_cache
.pytest_cache

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# virtualenv
venv/
ENV/

.DS_Store
resources/postgres/data
.env

# gRPC Files
app/grpc/src/*.py
app/grpc/js/*.js

# Common IDEs & editors
*.vim
.idea/
.project
.settings
.pydevproject
*.swp
*.swo
.vscode

google_credentials.json
.env-development
